/* CUSTOM */

body pre {
	background-color: black !important;
	color: green;
	padding: 1.5em !important;
	overflow: auto;
}

div.note, div.warning, div.caution, div.tip, div.important {
	background-color: #E7EEF6;
}
table, th, td {
	border:none;
	padding: .5em;
}