/* CUSTOM */

body pre {
	background-color: black !important;
	color: green;
	padding: 1.5em !important;
	overflow: auto;
}

div.note, div.warning, div.caution {
	background-color: #E7EEF6;
}
div.note h3, div.warning h3, div.caution h3 {
	margin:0;
}
table, th, td {
	border:none;
	padding: .5em;
}